<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>티빙회원가입</title>
    <link rel="stylesheet" href="../../../static/CSS/register/tving.css">
</head>
<body>
    <header>
        <div id="title-con">
            <a href="/">
                <img src="../../../static/images/tving-new-logo-pc.svg" alt="TVING">
            </a>
        </div>
    </header>
    <main>
        <section>
            <!-- 티빙 회원가입 타이틀 구간 -->
            <div id="register-con">
                <div id="register">
                    <h2 class="message1">티빙 회원가입</h2>
                    <h4 class="message2">아이디와 이메일로 간편하게 티빙을 시작하세요!</h4>
                </div>
                <!-- 입력 폼 구간 -->
                <form>
                    <div id="register-input-con">
                        <div>
                            <input class="register-input" type="text" placeholder="아이디">
                        </div>
                        <div>
                            <input class="register-input" type="password" placeholder="비밀번호">
                        </div>
                        <div>
                            <input class="register-input" type="password" placeholder="비밀번호 확인">
                        </div>
                        <div>
                            <input class="register-input" type="text" placeholder="이메일">
                        </div>
                    </div>
                </form>
                <div id="term-con">
                    <ul id="all-agree">
                        <li>
                            <label>
                                <img src="../../../static/images/agree-icon.png" alt="">
                                <h5>모두 동의합니다.</h5>
                            </label>
                        </li>
                    </ul>
                    <ul id="agree-btns">
                        <li class="">
                            <input type="checkbox">
                            <label>
                                <a href="#">만 14세 이상입니다.</a>
                            </label>
                        <li class="">
                            <input type="checkbox">
                            <label>
                                <a href="#">[필수] 서비스 이용약관 동의</a>
                            </label>
                        <li class="">
                            <input type="checkbox">
                            <label>
                                <a href="#">[필수] 개인정보 수집 및 서비스 활용 동의</a>
                            </label>
                        <li class="">
                            <input type="checkbox">
                            <label>
                                <a href="#">[필수] 채널 홈페이지 개인정보 제 3자 제공동의</a>
                            </label>
                        </li>
                        <li class="">
                            <input type="checkbox">
                            <label>
                                <a href="#">[선택] 개인정보 제 3자 제공동의</a>
                            </label>
                        </li>
                        <li class="">
                            <input type="checkbox">
                            <label>
                                <a href="#">[선택] 개인정보 수집 및 서비스 활용 동의</a>
                            </label>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    <input type="checkbox">
                                    <label>
                                        <a href="#">[선택] 마케팅 정보 SMS 수신 동의</a>
                                    </label>
                                </li>
                                <li>
                                    <input type="checkbox">
                                    <label>
                                        <a href="#">[선택] 마케팅 정보 이메일 수신동의</a>
                                    </label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="register-btn">
                    <button type="button">가입하기</button>
                </div>
            </div>

        </section>
</main>
<footer>

</footer>
</body>
</html>