<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TVINGID로그인</title>
    <link rel="stylesheet" href="../../static/CSS/login-main.css">
</head>
<body>
<header>
    <div id="title-con">
        <a href="/">
            <img src="../../static/images/tving-new-logo-pc.svg" alt="TVING">
        </a>
    </div>
</header>
    <main>
        <section id="login">
            <div id="login-con">
                <div id="login-title-con">
                    <h3 id="login-title">TVING ID 로그인</h3>
                </div>
                <form id="login-input-con">
                    <p><input class="login-input" type="text" placeholder="아이디"></p>
                    <p>
                        <input class="login-input" type="text" placeholder="비밀번호">
                        <i class="fa-solid fa-eye"></i>
                        <i class="fa-solid fa-eye-slash"></i>
                    </p>
                    <p id="c-login"><input  type="checkbox">자동 로그인</p>
                </form>
                <div id="signIn-btn-con">
                    <button id="signIn-btn" type="button">로그인하기</button>
                </div>
                <div id="find-account">
                    <a href="#">아이디 찾기</a>
                    <a href="#">비밀번호 찾기</a>
                </div>
                <div id="signUp">
                    <p >아직 계정이 없으신가요?</p>
                    <a href="#">회원가입하기</a>
                </div>

            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>