* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #000;
}
header {
    width: 100%;
    height: 5em;
    padding: inherit;
    position: fixed;

}
main {
    height: 100%;
}
#title-con {
    padding: 1rem 2.3em;
}

#title-con > a >img{
    font-size: 2em;

}
#main-message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    background-image: url(../images/moweb-img-gradation-0228.png)
    ,url(../images/F_jpg,2048.jpg);
    background-size: cover;
    background-position: bottom, bottom;
}
#message-con {
    position: inherit;
    padding-top: 4em;
    margin: auto;
    font-size: 3vw;
    text-align: center;
}
.message2 {
    font-size: 0.5em;
    font-weight: bold;
    color: #a3a3a3;
}
#btn-con {
    padding-top: 2rem;
}
button {
    margin: auto;
    padding-right: 20px;
    display: flex;
    font-size: 1.6vw;
    font-weight: bold;
    align-items: center;
    height: 3.5em;
    background-color: #ff1f45;
    color: #fff;
    border-radius: 4px;
}
button :hover {
    cursor: pointer;
}
