* {
    margin: 0;
    padding: 0;
}
header {
    position: relative;
}
#title-con {
    padding: 1rem 2.3em;
}
#title-con > a >img{
    font-size: 2em;

}

body {
    background-color: #000;
}

main {
    margin: auto;
    text-align: center;
}
section {
    display: block;
    width: 100%;
    height: 100%;
    margin: 4.167rem auto 0;;
}
#login-con {
    margin: auto;
    max-width: 50%;
}
#login-title-con {
    margin: 0 -4rem 3rem;;
}

#login-title {
    position: relative;
    color: #fff;
    font-size: 3.1vw;
    /*font-max-size: 30px;*/
}
/* 아이디/ 비밀번호 입력 창 */
.login-input {
    margin: 3.4px 0;
    text-indent: 1.333rem;
    width: 100%;
    height: 3.2rem;
    /*입력 글씨 색*/
    color: #fff;
    /*입력 커서 색*/
    caret-color: #fff;
    background-color: #212121;
    border: 0.5px solid #212121;
    border-radius: 4px;
}

#c-login {
    display: inline-block;
    /*padding-left: 0;*/
    cursor: pointer;
    width: 100%;
    /*line-height: ;*/
    font-size: .9rem;
    font-weight: bold;
    color: #6e6e6e;

}
#signIn-btn-con {
    margin: 10px 0;
}

/* 로그인 버튼 */
#signIn-btn {
    display: block;
    width: 100%;
    height: 3.2rem;
    border: 1px solid #4e4e4e;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    background-color: #ff153c;;

}
#find-account {
    margin: 2rem 0;
}
#find-account > a{
    color: #a3a3a3;
    font-size: .9rem;
    font-weight: bold;
    text-decoration: none;
}
#find-account > a:hover {
    cursor: pointer;
}
#signUp{
    width: auto;
    display: block;
    margin: 2rem 0;
}
#signUp > p{
    color: #6e6e6e;
    float: left;
}



