* {
    margin: 0;
    padding: 0;
    /*height: 100%;*/
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #000;
    color: #fff;
    background-image: url(../../images/기생충_poster.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(30px);
    /*filter: blur(15px);*/
}
#allCon {
    /*min-height: 100%;*/
    /*position: relative;*/

}
/* 상단 바 (고정) */
header {
    width: 100%;
    height: 5em;
    padding: inherit;
    position: fixed;

}
main {
}
#title-con {
    display: flex;
    padding: 1rem 2.3em;
}
.menu-icon {
    display: flex;
    margin-right: 2rem;
    align-items: center;
}
.menu-icon > a {
    color: rgba(255,255,255,1);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

#sec1 {
    margin: 0;
    margin-bottom: 4rem;
    padding-top: 0;
    display: flex;
    width: 100%;
    height: 500px;
    background-image:url(../../images/moweb-img-gradation-0228.png);
    background-size: cover;

}
.info-con {
    position: relative;
    margin: 0;
    padding: 60px;
}

#movie-info-con {
    /*display: flex;*/
    height: 100%;
    width: 50%;
    float: left;
}
#con1 {
    display: flex;

}
#con1-A {
    width: 65%;
}
#movie-logo {
    margin: 1.5rem 0px;;
}
#movie-logo > img{
    width: 100%;
    height: auto;
}

#movie-info-tag {
    position: relative;
    width: 100%;
    display: flex;
}
.tag-age{
    display: inline-block;
    position: relative;
    margin: 1px;
    padding: 0;
    background-image: url(../../images/tag_15.svg);
    background-size: contain;
    background-repeat: no-repeat;
    /*width: 10%;*/
    /*height: 100%;*/
}
.tag {
    width: 100%;
    margin: 3px;
    padding: 0;
    border: 0.3px solid ;
    border-radius: 0.2rem;
    font-size: 1.23vw;
    font-weight: bold;
    text-align: center;
    color: hsla(0,0%,100%,.7);
}

#sub-ticket {
    width: 100%;
    margin: 1.4rem 0;
}
#sub-ticket > button {
    width: 100%;
    height: 7vh;
    position: relative;
    background-color: rgb(255,255,255);
    font-weight: 800;
    color: #000;
    border-radius: 5px;
    backdrop-filter: blur(30px);
    text-align: center;
}

#movie-img-con {
    width: 50%;
}

#movie-img {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}
#con1-B {
    width: 45%;
    position: relative;
}
#movie-link {
    margin: 1.4rem 0;
    padding: 0 2rem;
    width: 100%;
    height: 30%;
    display: flex;
    position: absolute;
    bottom: 0;
}
#movie-link > button {
    padding: 5px;
    width: 100%;
    /*height: 40%;*/
    display: block;
    margin-bottom: 0;
    border: none;
    background: rgba(0,0,0,0);
    color: rgb(255,255,255);
    font-weight: bold;
    cursor: pointer;
}
/* 찜, 공유 아이콘 이미지 */
#movie-link > button > i {
    /*font-weight: normal;*/
    width: 100%;
    height: 50%;
}
#movie-img {
}

#movie-img > img {
    width: 68%;
    height: auto;
    padding-top: 10px;
    margin: auto;
    display: block;
    text-align: center;
}
#movie-info-mesg {

    color: hsla(0,0%,100%,.7);

}
#direc, #movie-cast {
    display: flex;
    font-size: 1.4vw;
    font-weight: bold;
}
#director, #caster {
    padding-left: 15px;
}
#comment {
    margin-top: 20px;
    font-size: 1.4vw;

}

footer {
    position: fix;
}
