<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이티빙</title>
    <script src="https://kit.fontawesome.com/98fb4054a6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../static/CSS/user/mypage/main.css">
</head>
<body>
    <header>
        <div id="title-con">
            <div class="menu-icon">
                <a href="/static" id="tving">
                    <img src="../../../static/images/tving-new-logo-pc.svg" alt="TVING">
                </a>
            </div>
            <div class="menu-icon">
                <a href="#" id="live">
                    <img src="../../../static/images/icon_menu_live.svg" alt="실시간아이콘">
                    <span>실시간</span>
                </a>
            </div>
            <div class="menu-icon">
                <a href="#" id="program">TV프로그램</a>
            </div>
            <div class="menu-icon">
                <a href="#" id="movie">영화</a>
            </div>
            <div class="menu-icon">
                <a href="#" id="paramount">
                    <img src="../../../static/images/menu_paramount.svg" alt="">
                </a>
            </div>
        </div>
    </header>
    <main>
        <div>
            <section id="myPage-con">
                <div id="user-profil-con">
                    <div id="user-img">
                        <a href="" class="image">
                            <img src="../../../static/images/profil-img01.webp" alt="프로필사진">
                        </a>
                    </div>
                        <div id="user-profil1">
                            <div id="user-info1">
                                <h1 id="nick">우주최강보령</h1>
                                <a href="">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                                <button id="">프로필 전환</button>
                            </div>
                            <div id="user-info2">
                                <div id="modify">
                                    <a href="">
                                        <i class="fa-solid fa-gear"></i>
                                        <span>회원정보 수정</span>
                                    </a>
                                </div>
                                <div id="device">
                                    <a href="">
                                        <i class="fa-solid fa-circle-info"></i>
                                        <span>기기등록/관리</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="user-profil2">
                            <div id="ticket">
                                <div>
                                    <p>
                                        <i class="fa-solid fa-ticket"></i>
                                        <span>나의 이용권</span>
                                    </p>
                                </div>
                                <div>
                                    <a href="">사용 중인 이용권이 없습니다.</a>
                                </div>
                                <div>
                                    <button type="button">이용권 구독</button>
                                </div>
                            </div>
                            <div id="cash">
                                <div>
                                    <i class="fa-regular fa-copyright"></i>
                                    <span>티빙캐시</span>
                                </div>
                                <div>
                                    0
                                </div>
                            </div>
                        </div>
                </div>
                <div id="ad-con">
                    <div id="ad-message">
                        <p>
                            이용권을 구독하고
                        <div id="channel-icon">
                            <img src="../../../static/images/icon_tvn.png" alt="tvn">
                            <img src="../../../static/images/icon_jtbc.png" alt="jtbc">
                        </div>
                        등 인기 TV프로그램과 다야한 영화를 자유롭게 시청하세요!
                        </p>
                    </div>
                    <div>
                        <button>
                            <a href="">이용권 구독하기
                            <img src="../../../static/images/btn-arrow-right.svg"></a>
                        </button>
                    </div>
                </div>
                <div></div>
            </section>

            <section id="history-list">
                <div id="myPage-menu">
                    <div>
                        <a href="">
                            <span>시청 내역</span>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <span>구매 내역</span>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <span>찜</span>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <span>예약 내역</span>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <span>이용권/캐시 내역</span>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <span>문의 내역</span>
                        </a>
                    </div>
                </div>
                <div id="type-menu">
                    <div>
                        <a href="">TV프로그램</a>
                        <a href="">영화</a>
                    </div>
                </div>
            </section>

            <section id="history-view">
                <div id="result-box-con">
                    <div id="view">
                        <div id="exclam-icon">
                            <i class="fa-solid fa-exclamation"></i>
                        </div>
                        <p>시청하신 TV프로그램이 없습니다</p>
                    </div>
                </div>
                <div id="notice">
                    <h3>
                        알아두세요!
                    </h3>
                    <p>- 최근 3개월의 시청내역만 표시되며, 종료된 콘텐츠는 노출되지 않습니다.</p>
                </div>
            </section>
        </div>
    </main>
</body>
</html>